#yjh-loader-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

#yjh-loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#yjh-progress-container {
  width: 100%;
  height: 10px;
  background-color: #f3f3f3;
  margin-top: 10px;
}

#yjh-progress-bar {
  height: 100%;
  width: 0%;
  background-color: #3498db;
}

#yjh-progress-text {
  margin-top: 5px;
}
